@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");

/* @import url("https://bootstrap/dist/css/bootstrap.min.css");
@import url("https://shards-ui/dist/css/shards.min.css"); */

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  background-image: linear-gradient(rgba(62, 251, 160, 1),rgba(62, 251, 160, 0.3834), rgba(62, 251, 160, 0));

}

.searchInput {
  box-shadow: 0px 2px #dadada;
  width: 50%;
  border-radius: 5px;
  background: #fff;
  padding: 8px;
  border: 1px solid #efefef;
  margin-right: 12px;
}
.primaryButton {
  padding: 8px;
  border-radius: 5px;
  background: #4D4D4D;
  color: #fff;
  border: none;
  cursor: pointer;
}
